<div class="card">
    <h3 class="card-header">Registration:</h3>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="submit()" novalidate>
            <div class="form-group">
                <label>UserName</label>
                <input class="form-control" type="text" placeholder="UserName" formControlName="userName" />
                <div 
                    *ngIf="registerForm.controls['userName'].invalid && registerForm.controls['userName'].touched" 
                    class="alert alert-danger">
                    <small *ngIf="registerForm.controls['userName'].errors.required">
                        UserName field cannot be empty
                    </small>
                    <small *ngIf="registerForm.controls['userName'].errors.minlength">
                        The length must be between 4 and 10
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" placeholder="Email" formControlName="email"/>
                <div 
                    *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" 
                    class="alert alert-danger">
                    <small *ngIf="registerForm.controls['email'].errors.required">
                        Email field cannot be empty
                    </small>
                    <small *ngIf="registerForm.controls['email'].errors.email">
                        Enter correct email
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label>Gender</label>
                <select class="form-control" formControlName="gender">
                    <option *ngFor="let item of genders" value={{item}}>{{item}}</option>
                </select>

            </div>
            <div class="form-group">
                <label>FirstName</label>
                <input class="form-control" type="text" placeholder="FirstName" formControlName="firstName"/>
                <div 
                    *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched" 
                    class="alert alert-danger">
                    <small *ngIf="registerForm.controls['firstName'].errors.required">
                        FirstName field cannot be empty
                    </small>
                    <small *ngIf="registerForm.controls['firstName'].errors.minlength">
                        The length must be between 2 and 20
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label>LastName</label>
                <input class="form-control" type="text" placeholder="LastName" formControlName="lastName"/>
                <div 
                    *ngIf="registerForm.controls['lastName'].invalid && registerForm.controls['lastName'].touched" 
                    class="alert alert-danger">
                    <small *ngIf="registerForm.controls['lastName'].errors.required">
                        LastName field cannot be empty
                    </small>
                    <small *ngIf="registerForm.controls['lastName'].errors.minlength">
                        The length must be between 2 and 20
                    </small>
                </div>                
            </div>
        <div formGroupName="passwordGroup">
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" placeholder="Password" formControlName="password" autocomplete="off"/>
                 <div 
                    *ngIf="registerForm.controls['passwordGroup'].get('password').invalid 
                    && registerForm.controls['passwordGroup'].get('password').touched" 
                    class="alert alert-danger">
                    <small *ngIf="registerForm.controls['passwordGroup'].get('password').errors.required">
                        Password field cannot be empty
                    </small>
                    <small *ngIf="registerForm.controls['passwordGroup'].get('password').errors.minlength">
                        The length must be between 6 and 10
                    </small>
                </div>                
                <strenth-password [passwordToCheck]="registerForm.controls['passwordGroup'].get('password').value"
                            (passwordStrength)="passwordValid($event)"></strenth-password>
            </div>
            <div class="form-group">
                <label>ConfirmPassword</label>
                <input class="form-control" type="password" placeholder="ConfirmPassword" formControlName="confirmPassword" autocomplete="off"/>
                <div 
                    *ngIf="registerForm.controls['passwordGroup'].get('confirmPassword').invalid
                    && registerForm.controls['passwordGroup'].get('confirmPassword').touched" 
                    class="alert alert-danger">
                    <small *ngIf="registerForm.controls['passwordGroup'].get('confirmPassword').errors.mustMatch">
                        ConfirmPassword is required 
                    </small>
                    <small *ngIf="registerForm.controls['passwordGroup'].get('confirmPassword').errors.required">
                        Confirmpassword field cannot be empty
                    </small>
                </div>
            </div>
        </div>
        <div class="rout-container" >
            <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Register</button>
            <p class="log-link" routerLinkActive="active">
                <a [routerLink]="['/login']" >Login</a>
            </p>
        </div>
        </form>
    </div>
</div>
  <small >  
</small> 
