input {
    &.ng-invalid.ng-touched{
        border: 1px solid red;
    }

    &.ng-valid.ng-touched{
        border: 1px solid green;
    }
}
.card{
    width: 700px;
    margin-left: 30%;
    margin-top: 50px;
    padding: 10px;
}
.strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
  }
 
  .point:last-of-type {
    margin: 0 !important;
  }
  .point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 62px;
  }
  .strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
  } 
  .point:last-of-type {
    margin: 0 !important;
  } 
.log-link{
  padding: 10px 0 0 10px;
}
.card-child{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 20px 0 10px 0;
  padding: 10px;
}
.form-group{
  margin-top: 1.5rem;
}

p{
  margin-top: 1rem;
  display: inline-block;
}