.card{
    width: 700px;
    margin-left: 30%;
    margin-top: 50px;
    padding: 10px;
}
input {
    &.ng-invalid.ng-touched{
        border: 1px solid red;
    }

    &.ng-valid.ng-touched{
        border: 1px solid green;
    }
}