.nav {
    background: #1976d2;
    padding: 2px 15px;
}
.logo {
  max-height: 55px;
}
a{
  color: antiquewhite;
}
.main-nav{
 display: flex;
}
.main-nav li{
  padding-right: 30px;
  padding-top: 15px;
 }
.courses {
    max-width: 400px;
    margin: 50px auto;
}
h4{
  padding-top: 10px;
}
.active a{
  color: black;
}
input {
  &.ng-invalid.ng-touched{
      border: 1px solid red;
  }

  &.ng-valid.ng-touched{
      border: 1px solid green;
  }
}
.card{
  width: 700px;
  margin-left: 30%;
  margin-top: 50px;
  padding: 10px;
}

