<nav class="nav">  
  <h4>
    <a href="#">Angular Application</a>
  </h4>
  <ul class="main-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/rfreg']">RF Registration</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/tdreg']">TD Registration</a>
    </li>
    <li routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Login</a>
    </li>
  </ul>
</nav>
 <router-outlet></router-outlet>